/* CSS */ 
.button_edit_project {
  appearance: none;
  background-color: rgb(0, 153, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 153, 255, 0.2) 0px 2px 4px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 62px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: ease, ease, ease;
  user-select: none;
  width: 62px;
  word-spacing: 0px;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.button_edit_project_r22 {
align-items: center;
  appearance: none;
  background-color: rgb(51, 51, 51);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 30px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, background-color;
  transition-timing-function: ease, ease;
  user-select: none;
  width: 62px;
  word-spacing: 0px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.button_edit_project_r22E {
align-items: center;
  appearance: none;
  background-color: rgb(51, 51, 51);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 30px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, background-color;
  transition-timing-function: ease, ease;
  user-select: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 0px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.button_edit_project:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button_edit_project_r22:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.input_field {
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(43, 43, 43);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
  cursor: text;
  display: block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 1px;
  padding-block-start: 0px;
  padding-bottom: 1px;
  padding-inline-end: 7px;
  padding-inline-start: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  user-select: text;
  white-space-collapse: collapse;
  width: 315px;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  outline: none;
}
.bg_button{
  background-color: rgb(43, 43, 43);
  color: rgb(175, 175, 175);
}



.menu_container {
  background-color: rgb(43, 43, 43);
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-size: 12px;
  line-height: 14.4px;
  margin: 0;
  max-height: 800px;
  max-width: 500px;
  min-width: 90px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0;
  position: absolute;
  unicode-bidi: isolate;
  user-select: none;
  width: 153.984px;
  z-index: 24;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu_item {
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  column-gap: 8px;
  cursor: default;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  height: 30px;
  justify-content: space-between;
  line-height: 14.4px;
  outline: none;
  overflow: hidden;
  row-gap: 8px;
  margin-left: 5px;
  scroll-margin: 8px;
  text-wrap-mode: nowrap; /* non-standard */
  unicode-bidi: isolate;
  user-select: none;
  white-space-collapse: preserve; /* non-standard */
  width: 143.984px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_item:hover{
 background-color: rgb(0, 153, 255);
 color: white;
}
.button_edit_project_r222 {
  appearance: none;
  background-color: rgb(51, 51, 51);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 62px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: ease, ease, ease;
  user-select: none;
  width: 130px;
  word-spacing: 0px;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.toggle-button-container {
  display: flex;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}
.toggle-button {
  background-color: rgb(51, 51, 51);
  color: white;
  font-weight: 600;
  font-size: 13px;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  width: 80px;
  height: 30px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease;
  cursor: pointer;
  border: none;
}
.toggle-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.toggle-button.inactive {
  opacity: 0.6;
}
.toggle-button.inactive:hover {
  opacity: 1;
}
.new_site_button {
  appearance: none;
  background-color: rgb(0, 153, 255);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 153, 255, 0.2) 0px 2px 4px 0px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  font-size: 13px;
  height: 30px;
  min-width: 90px;
  padding: 0px 10px;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
  user-select: none;
  text-decoration: none;
  text-align: center;
}
.new_site_button .icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.new_site_button_r2 {
  appearance: none;
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  font-size: 13px;
  height: 30px;
  min-width: 90px;
  padding: 0px 10px;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
  user-select: none;
  text-decoration: none;
  text-align: center;
}
.new_site_button_r2 .icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.view_site {
  appearance: none;
  background-color: rgb(0, 153, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 153, 255, 0.2) 0px 2px 4px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 62px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: ease, ease, ease;
  user-select: none;
  width: 92px;
  word-spacing: 0px;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.view_site_rr2 {
    position: relative;
    top: 5px;
}
.input_field2 {
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(43, 43, 43);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  color: rgb(238, 238, 238);
  cursor: text;
  display: block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 1px;
  padding-block-start: 0px;
  padding-bottom: 1px;
  padding-inline-end: 7px;
  padding-inline-start: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  user-select: text;
  white-space-collapse: collapse;
  width: 65px;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  outline: none;
}
.input_field22323 {
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(43, 43, 43);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  color: rgb(238, 238, 238);
  cursor: text;
  display: block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 1px;
  padding-block-start: 0px;
  padding-bottom: 1px;
  padding-inline-end: 7px;
  padding-inline-start: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  user-select: text;
  white-space-collapse: collapse;
  width: 100%;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  outline: none;
}
.input_field22 {
  background-color: rgb(43, 43, 43);
  padding: 6.5px;
  font-size: 11px;
  border-radius: 0px 10px 10px 0px;
}
.button_edit_project_r224 {
  align-items: center;
  appearance: none;
  background-color: rgb(43, 43, 43);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 30px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, background-color;
  transition-timing-function: ease, ease;
  user-select: none;
  width: 62px;
  word-spacing: 0px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
/* Code 1 */
.container-1 {
  background-color: rgb(43, 43, 43);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: row;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-size: 12px;
  height: 30px;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0;
  overflow-x: visible;
  overflow-y: visible;
  text-align: center;
  unicode-bidi: isolate;
  user-select: none;
  width: 229px;
  margin-top: 15px;
  position: relative;
  left: 15px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Code 2 */
.container-2 {
  align-items: center;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 22px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 4px 0 4px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  user-select: none;
  width: 75px;
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.input_field22323A {
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(43, 43, 43);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(238, 238, 238);
  cursor: text;
  display: block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 1px;
  padding-block-start: 0px;
  padding-bottom: 1px;
  padding-inline-end: 7px;
  padding-inline-start: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  user-select: text;
  white-space-collapse: collapse;
  width: 100%;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  outline: none;
}
.input_field22323A123 {
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(43, 43, 43);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(238, 238, 238);
  cursor: text;
  display: block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 1px;
  padding-block-start: 0px;
  padding-bottom: 1px;
  padding-inline-end: 7px;
  padding-inline-start: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  text-align: start;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  user-select: text;
  white-space-collapse: collapse;
  width: 100%;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  outline: none;
}
.simple_box {
  appearance: auto;
  background-color: rgb(43, 43, 43);
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;

  box-sizing: border-box;
  color: rgb(238, 238, 238);
  cursor: text;
  direction: ltr;
  display: block;

  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 19.2px;
  
  height: 100px;
  min-height: 30px;
  width: 100%;

  letter-spacing: normal;
  word-spacing: 0px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;

  overflow-wrap: break-word;
  padding: 8px;
  resize: vertical;
  user-select: text;
  white-space: pre-wrap;

  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button_edit_project_r2 {
  appearance: none;
  background-color: rgb(0, 153, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 153, 255, 0.2) 0px 2px 4px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 62px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: ease, ease, ease;
  user-select: none;
  width: 100%;
  word-spacing: 0px;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
.button_edit_project_r2:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button_edit_project_r21 {
  appearance: none;
  background-color: rgb(0, 153, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 153, 255, 0.2) 0px 2px 4px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv01", "cv09";
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 11px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 600;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  min-width: 62px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  transition-behavior: normal, normal, normal;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: ease, ease, ease;
  user-select: none;
  width: 15%;
  word-spacing: 0px;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
  position: relative;
  top: -55px;
  left: 10px;
}
.button_edit_project_r21:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.project_button_r23_css:hover{
  background-color: rgb(43, 43, 43);
}