.displan-button-primary {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Light theme */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), black); /* Light theme */
  padding: 1px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
  .displan-button-primary {
    border: 2px solid black;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.8));
  }
}
