.afasfasfawffwf {
    padding: 30px;
    position: relative;
    top: -30px;
    border-radius: 20px;
}
.afasfawffwf {
    position: relative;
    top: -130px;
}
.asfafagfwgwa_rwr23e2 {
  background: #8888881A;
  padding: 20px;
  border-radius: 20px;
  margin-left: -10px;
}